<!--Sample Submission-->
<section id="sample-form">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Sample Submission Form-->
      <div id="submission_div">
        <div class="col-lg-6 col-md-12 col-sm-12" id="clinic_information">
          <h1>DIAGNOSTIC CLINIC</h1>
          <br />
          <br />
          <br />
          <br />
          <h3>What do we do?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, est at faucibus sodales, nisi
            est molestie est, eu rhoncus magna dolor at sem. </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="sample_div">
          <h1>SAMPLE SUBMISSION</h1>
          <form id="sample_form" [formGroup]="sampleForm" (submit)="sendForm()">

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Your Details
                  </mat-panel-title>

                  <mat-panel-description>
                    Enter your details
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput id="sample_form_tree_species" formControlName="sample_form_tree_species" type="text" required>
                  <mat-placeholder class="placeholder">Tree Species Name</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_number_samples" formControlName="sample_form_number_samples" type="text"
                    required>
                  <mat-placeholder class="placeholder">Number of Samples</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_location1" formControlName="sample_form_location1" type="text" required>
                  <mat-placeholder class="placeholder">Area/City/Suburb</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_location2" formControlName="sample_form_location2" type="text" required>
                  <mat-placeholder class="placeholder">Estate/street address</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_compartment" formControlName="sample_form_compartment" type="text" required>
                  <mat-placeholder class="placeholder">Compartment Number</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_gps" formControlName="sample_form_gps" type="text" required>
                  <mat-placeholder class="placeholder">GPS Coordinates</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_date_collection" formControlName="sample_form_date_collection" type="datetime"
                    required>
                  <mat-placeholder class="placeholder">Date of Sample Collection</mat-placeholder>
                  <!-- TEGAN CHECK THIS-->
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="sample_form_date_sent" formControlName="sample_form_date_sent" type="datetime" required>
                  <mat-placeholder class="placeholder">Date Sent</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Type of Sample
                  </mat-panel-title>

                  <mat-panel-description>
                    Enter the type of sample
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <label for="sample_type_soil">Soil</label><input id="sample_type_soil" formControlName="sample_type_soil"
                  type="checkbox" /><br />
                <label for="sample_type_stems">Stems</label><input id="sample_type_stems" formControlName="sample_type_stems"
                  type="checkbox" /><br />
                <label for="sample_type_roots">Roots</label><input id="sample_type_roots" formControlName="sample_type_roots"
                  type="checkbox" /><br />
                <label for="sample_type_twigs">Twigs/Branches</label><input id="sample_type_twigs"
                formControlName="sample_type_twigs" type="checkbox" /><br />
                <label for="sample_type_leaves">Leaves/Needles</label><input id="sample_type_leaves"
                formControlName="sample_type_leaves" type="checkbox" /><br />
                <label for="sample_type_seedlings">Seedlings/Cuttings</label><input id="sample_type_seedlings"
                formControlName="sample_type_seedlings" type="checkbox" /><br />
                <label for="sample_type_media">Media Plates</label><input id="sample_type_media"
                formControlName="sample_type_media" type="checkbox" /><br />
                <label for="sample_type_water">Water</label><input id="sample_type_water" formControlName="sample_type_water"
                  type="checkbox" /><br />

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Symptoms
                  </mat-panel-title>

                  <mat-panel-description>
                    Enter details about the symptoms
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <label for="symptom_wilt">Wilt</label><input id="symptom_wilt" formControlName="symptom_wilt"
                  type="checkbox" /><br />
                <label for="symptom_stunting">Stunting</label><input id="symptom_stunting" formControlName="symptom_stunting"
                  type="checkbox" /><br />
                <label for="symptom_leafspot">Leaf Spot</label><input id="symptom_leafspot" formControlName="symptom_leafspot"
                  type="checkbox" /><br />
                <label for="symptom_rootrot">Root rot</label><input id="symptom_rootrot" formControlName="symptom_rootrot"
                  type="checkbox" /><br />
                <label for="symptom_dieback">Die-Back</label><input id="symptom_dieback" formControlName="symptom_dieback"
                  type="checkbox" /><br />
                <label for="symptom_cankers">Cankers</label><input id="symptom_cankers" formControlName="symptom_cankers"
                  type="checkbox" /><br />
                <label for="symptom_death">Death</label><input id="symptom_death" formControlName="symptom_death"
                  type="checkbox" /><br />
                <label for="symptom_wood">Wood borer damage/holes/tunnels/frass(sawdust)</label><input id="symptom_wood"
                formControlName="symptom_wood" type="checkbox" /><br />
                <label for="symptom_other">Other</label><input id="symptom_other" formControlName="symptom_other"
                  type="text" /><br />

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Distribution
                  </mat-panel-title>

                  <mat-panel-description>
                    Enter details about the distribution
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <label for="distribution_localized">Localized (Single Plant)</label><input id="distribution_localized"
                formControlName="distribution_localized" type="checkbox" /><br />
                <label for="distributed_scattered">Scattered Plants</label><input id="distributed_scattered"
                formControlName="distributed_scattered" type="checkbox" /><br />
                <label for="distributed_general">General</label><input id="distributed_general"
                formControlName="distributed_general" type="checkbox" /><br />

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    Conditions
                  </mat-panel-title>
                  <mat-panel-description>

                    Enter details about the weather and planting conditions
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput id="conditions_affected" formControlName="conditions_affected" type="text" required>
                  <mat-placeholder class="placeholder">% of plants affected</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_problem_noticed" formControlName="conditions_problem_noticed" type="text"
                    required>
                  <mat-placeholder class="placeholder">Date problem was first noticed</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_date_planted" formControlName="conditions_date_planted" type="text"
                    required>
                  <mat-placeholder class="placeholder">Date plants were planted</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_weather_disturbances" formControlName="conditions_weather_disturbances"
                    type="text" required>
                  <mat-placeholder class="placeholder">Unusual weather disturbances</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_weather_prior" formControlName="conditions_weather_prior" type="text" required>
                  <mat-placeholder class="placeholder">Weather conditions prior to symptom development</mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_others" formControlName="conditions_others" type="text" required>
                  <mat-placeholder class="placeholder">Other tree species in the environment that display similar
                    symptoms?
                  </mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput id="conditions_additional" formControlName="conditions_additional" type="text" required>
                  <mat-placeholder class="placeholder">Additional information (Please include any information about
                    planting
                    conditions, fungicide use, herbicide user, changes to fertigation, routine disruptions ...)t
                  </mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    Landowner Permission
                  </mat-panel-title>
                  <mat-panel-description>
                    Provide us with your permission
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput id="landowner" formControlName="landowner" type="text" required>
                  <mat-placeholder class="placeholder">Name of Landowner/Person in charge
                  </mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput d="landowner_signature" formControlName="landowner_signature" type="text" required>
                  <mat-placeholder class="placeholder">Signature
                  </mat-placeholder>
                  <br />
                </mat-form-field>
                <br />
                <p>Completion of the information in this form ensures that the Diagnostic Clinic keeps all sample
                  records
                  complete
                  and up-to-date. Thank you for taking the time to complete the sample information form and please
                  remember
                  it
                  back to the clinic as soon as possible.</p>

              </mat-expansion-panel>

            </mat-accordion>
            <br />
            <br />
            <input id="sample_form_submit" type="submit" class="btn btn-default" value="Submit"
              routerLink="/sample-form" />
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</section>